VITE_SUPABASE_URL=https://bgcxsufrvhkltuqnjpjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnY3hzdWZydmhrbHR1cW5qcGpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODc4NzIsImV4cCI6MjA4ODQ2Mzg3Mn0.Da87DgfSw9RYDnDyklcvMe2FHBp9Zi2z02RFWORXdKA